<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>qbs</servlet-name>
    <servlet-class>
        org.springframework.web.servlet.DispatcherServlet
    </servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>org.qburst.search.springconfig</param-value>
    </init-param>
  </servlet>
    <servlet>
        <servlet-name>openid</servlet-name>
        <servlet-class>org.qburst.openidlogin.OpenIDLoginServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>openid</servlet-name>
        <url-pattern>/openid</url-pattern>
    </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>qbs</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.qburst.openidlogin.EncodingFilter</filter-class>
  </filter>

  <filter-mapping>
     <filter-name>encodingFilter</filter-name>
     <url-pattern>/*</url-pattern>
  </filter-mapping>
  
    <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>org.qburst.openidlogin.LoginFilter</filter-class>
  </filter>

  <filter-mapping>
     <filter-name>loginFilter</filter-name>
     <url-pattern>/*</url-pattern>
  </filter-mapping>

  <welcome-file-list>
  	<welcome-file>/</welcome-file>
  </welcome-file-list>
</web-app>
